<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.mall.dao.PropertyMapper">
    <resultMap id="propertyMap" type="property">
        <id property="propertyId" column="propertyId"/>
        <result property="propertyName" column="propertyName"/>
        <association property="propertyCategory" javaType="com.bdqn.mall.entity.Category">
            <id property="categoryId" column="propertyCategoryId"/>
        </association>
    </resultMap>

    <insert id="insertOne" parameterType="property">
        INSERT property (propertyId,propertyName,propertyCategoryId)
            VALUES(
            null,
            #{property.propertyName},
            #{property.propertyCategoryId})
    </insert>
    <insert id="insertList" parameterType="list">
        INSERT property (propertyId,propertyName,propertyCategoryId)
        VALUES
        <foreach collection="propertyList" index="index" item="property" separator=",">
            (null,
            #{property.propertyName},
            #{property.propertyCategoryId})
        </foreach>
    </insert>
    <update id="updateOne" parameterType="property">
        UPDATE property
        <set>
            <if test="property.propertyName != null">propertyName = #{property.propertyName}</if>
        </set>
        <where>
            propertyId = #{property.propertyId}
        </where>
    </update>
    <delete id="deleteList" parameterType="java.util.ArrayList">
        DELETE FROM property
        <where>
            propertyId IN
            <foreach collection="propertyIdList" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </delete>
    <select id="select" resultMap="propertyMap">
        SELECT propertyId,propertyName,propertyCategoryId FROM property
        <if test="property != null">
            <where>
                <if test="property.propertyName != null">propertyName LIKE concat('%',#{property.propertyName},'%')</if>
                <if test="property.propertyCategory != null">
                    <if test="property.propertyCategory.categoryId != null">propertyCategoryId = #{property.propertyCategory.categoryId}</if>
                </if>
            </where>
        </if>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.pageStart},#{pageUtil.count}
        </if>
    </select>
    <select id="selectOne" resultMap="propertyMap" parameterType="int">
        SELECT propertyId,propertyName,propertyCategoryId FROM property
        <where>
            propertyId = #{propertyId}
        </where>
    </select>
    <select id="selectTotal" resultType="int" parameterType="property">
        SELECT propertyId,propertyName,propertyCategoryId FROM property
        <if test="property != null">
            <where>
                <where>
                    <if test="property.propertyName != null">propertyName LIKE concat('%',#{property.propertyName},'%')</if>
                    <if test="property.propertyCategory != null">
                        <if test="property.propertyCategory.categoryId != null">propertyCategoryId = #{property.propertyCategory.categoryId}</if>
                    </if>
                </where>
            </where>
        </if>
    </select>
</mapper>